<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Selabs Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/src/css/main.css">
    <link rel="icon" href="/static/images/favicon_32x32.png">
</head>
<body>
    <button onclick="topFunction()" id="goTopButton" title="Go to top"><i class="fa fa-angle-up"></i></button> 

    <section class="hero is-medium">
            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
                <nav class="navbar is-spaced has-shadow">
                    <div class="container">

                        <div class="navbar-brand">
                            <a class="navbar-item">
                                <img class="logoFlip" src="/static/images/Selabs-logo-mini.png" alt="Selabs">
                                <span class="title is-4 navbar-logo-text logoIn">Selabs<span class="title is-4 navbar-logo-text blink">_</span></span>
                            </a>
                        </div>

                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item">
                                    About Us
                                </a>
                                <a class="navbar-item">
                                    Founders
                                </a>
                                <a class="navbar-item">
                                    Contact
                                </a>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
            
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container">
                <h1 class="title has-text-white is-1">
                    Ex est tempor enim ipsum reprehenderit
                </h1>
                <h2 class="subtitle has-text-white is-4">
                    Voluptate dolor labore officia labore in cillum in mollit incididunt. Exercitation duis voluptate consectetur magna nisi ea sint ad excepteur. Consectetur mollit aliquip fugiat fugiat officia elit culpa.
                </h2>
                </div>
            </div>
            
    </section>

    <section class="about-us">
            <div class="container">
                <div class="has-text-centered">
                    <h1 class="title is-1">About Us</h1>
                    <br>
                    <h2 class="subtitle is-4 has-text-grey">Learn a little bit more about us</h2>
                    <hr>
                </div>
                <div class="section about-us-img-section">
                    <div class="columns">
                        <div class="column">
                            <div class="has-text-centered">
                                <figure class="image aboutUs-figure">
                                    <img src="/static/images/AboutUs_img2.jpg" class="aboutUs-img1">
                                </figure>
                                <h4 class="title is-4">Our Beginnings</h4>
                                <p class="about-us-text">
                                    Selabs_ has the experts, knowledge, and experience to help
                                    you determine the best places to apply a blockchain to get
                                    the most out of any blockchain solution.
                                </p>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="column">
                            <div class="has-text-centered">
                                <figure class="image aboutUs-figure">
                                    <img src="/static/images/custom_development2.jpg" class="aboutUs-img1">
                                </figure>
                                <h4 class="title is-4">September Selabs_</h4>
                                <p class="about-us-text">
                                    Our development service includes to follow up the clients in
                                    the counselling process, the design of their UI / UX products,
                                    integration with applications, development of their ICOS and dedicated
                                    designs for each of their needs.
                                </p>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="column">
                            <div class="has-text-centered">
                                <figure class="image aboutUs-figure">
                                    <img src="/static/images/Selabs-circulo-shadowed.jpg" class="aboutUs-img1">
                                </figure>
                                <h4 class="title is-4">Selabs_</h4>
                                <p class="about-us-text">
                                    Selabs_ has the experts, knowledge, and experience to help
                                    you determine the best places to apply a blockchain to get
                                    the most out of any blockchain solution.
                                </p>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
    </section>

    <br><br><br><br>

    <section class="team">
        <div class="container">
            <div class="has-text-centered">
                <h1 class="title is-1">Founders</h1>
                <br>
                <h2 class="subtitle is-4 has-text-grey">Meet the people behind the scenes</h2>
                <hr>
            </div>
            <div class="section team-section">
                <div class="columns is-gapless">
                    <div class="column" data-name="enzo" onmouseover="showSocialMedia(event.currentTarget)" onmouseout="hideSocialMedia(event.currentTarget)">
                        <div class="has-text-centered">
                            <img src="/static/images/team_enzo.jpg" class="team-img" alt="Team enzo">
                            <h4 class="title is-4">| Enzo Wouilloz |</h4>
                            <p class="subtitle is-5 has-text-grey">CEO</p>
                            <p class="team-text">
                                Enzo began studying the blockchain in 2015. With 14 
                                years he started to study administration of companies.
                                His career is chief executive officer and his passions is 
                                finance economy and blockchain is the right person to manage 
                                the personnel and finances of the company and take SeLabs to the world.
                            </p>
                            <div class="columns is-mobile team-social-media-section">
                                <div class="column">
                                    <a href="https://twitter.com/Enzo_Wouilloz">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="https://ar.linkedin.com/in/enzo-wouilloz-424156172">
                                        <i class="fa fa-linkedin fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="column" data-name="lucas" onmouseover="showSocialMedia(event.currentTarget)" onmouseout="hideSocialMedia(event.currentTarget)">
                        <div class="has-text-centered">
                            <img src="/static/images/team_lucas.jpg" class="team-img" alt="Team lucas">
                            <h4 class="title is-4">| Lucas Miraglia |</h4>
                            <p class="subtitle is-5 has-text-grey">CTO - COO</p>
                            <p class="team-text">
                                Lucas started his journey as a developer in 2007. 
                                At the age of 15, he started building websites on 
                                his own, setting off a passion for technology research. 
                                His career and dedication led him to be on top of every 
                                technological aspect that runs in selabs_.
                            </p>
                            <div class="columns is-mobile team-social-media-section">
                                <div class="column">
                                    <a href="https://twitter.com/lucasmiraglia">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="https://www.linkedin.com/in/lucas-miraglia-28a76a127">
                                        <i class="fa fa-linkedin fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="column" data-name="fernando" onmouseover="showSocialMedia(event.currentTarget)" onmouseout="hideSocialMedia(event.currentTarget)">
                        <div class="has-text-centered">
                            <img src="./images/team_fernando.jpg" class="team-img" alt="Team fernando">
                            <h4 class="title is-4">| Fernando Suarez |</h4>
                            <p class="subtitle is-5 has-text-grey">CMO - Business Manager</p>
                            <p class="team-text">
                                Fernando Suarez providing a challenging attitude for almost 16 
                                years & involved in several adventures ranging from IT, Banking,
                                Industrial, Government, Oil & Gas, Startups, pursuing excellence 
                                and problem-solving mindset to benefit our Customers.
                            </p>
                            <div class="columns is-mobile team-social-media-section">
                                <div class="column">
                                    <a href="">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="">
                                        <i class="fa fa-linkedin fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    
    <br><br><br><br>

    <section class="contact">
        <div class="container">
            <div class="has-text-centered">
                <h1 class="title is-1">Contact</h1>
                <br>
                <h2 class="subtitle is-4 has-text-grey">Send us a message and we will contact you!</h2>
                <hr>
            </div>

            <div class="section">
                <div class="columns contact-form-section">
                    <div class="column name-email-section">
                        <div class="field">
                            <input type="text" class="input is-medium" placeholder="Your name" data-validation-required-message="Please enter a name" required="true" >
                        </div>

                        <div class="field">
                            <input type="email" class="input is-medium" placeholder="Your email" data-validation-required-message="Please enter a mail" required="true">
                        </div>

                        <div class="field">
                            <input type="tel" class="input is-medium" placeholder="Your phone" data-validation-required-message="Please enter a phone" required="true">
                        </div>
                    </div>
                    <br><br>
                    <div class="column text-section">
                        <div class="field">
                            <textarea type="text" class="textarea is-medium" placeholder="Your message..." rows="4" spellcheck="true" data-validation-required-message="Please enter a message" required="true"></textarea>
                        </div>
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-success is-medium"><strong>Send Message</strong></button>
                </div>
            </div>

        </div>
    </section>

    <br><br><br><br>

    <footer class="footer">
        <div class="container">
            <div class="level first-level-footer">
                <div class="level-left">
                    <div class="level-item">
                        <img src="/static/images/Selabs-logo-mini.png" alt="logo" width='35'>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <span class="icon is-large">
                            <a class="fa fa-lg fa-twitter has-text-info"></a>
                        </span>
                        <span class="icon is-large">
                            <a class="fa fa-lg fa-facebook-square has-text-link"></a>
                        </span>
                        <span class="icon is-large">
                            <a class="fa fa-lg fa-github has-text-black"></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="divider has-text-grey-lighter" style='border-top:1px solid black; padding-top:10px;'></div>
            <div class="level">
                <div class="level-left">
                    <div class="level-item has-text-grey">
                        <small>Officia minim culpa consectetur labore velit elit.</small>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item has-text-grey">
                        Selabs 2019 | All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="/static/src/js/main.js"></script>
</body>
</html>